* {
  font-family: "PT Sans", sans-serif;
}
/* navbar */
.bg-navbar {
  background-color: #423e37;
}
.active {
  font-weight: bold;
  border-bottom: 2px solid#E3B23C;
}
.navbar-nav a:hover {
  border-bottom: 2px solid#E3B23C;
}
.carousel-caption {
  background: rgb(0, 0, 0, 0.5);
}
