* {
  font-family: "PT Sans", sans-serif;
}
/* navbar */
.bg-navbar {
  background-color: #423e37;
}
.active {
  font-weight: bold;
  border-bottom: 2px solid #e3b23c;
}
.navbar-nav a:hover {
  border-bottom: 2px solid #e3b23c;
}
.carousel-caption {
  background: rgba(0, 0, 0, 0.5);
}
.rating {
  text-align: center;
}
.enroll-btn {
  width: 100%;
  padding: 10px 0;
  font-size: 1.1rem;
  border-radius: 8px;
}
